<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="index.html">IG Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret"> </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="uscdi.html">USCDI</a></li>
      <li><a href="generalguidance.html">General Guidance</a></li>
      <li><a href="screeningandassessments.html">Screening and Assessments</a></li>
      <li><a href="supportingguidance.html">Supporting Guidance</a></li>
      <li><a href="validation.html">Validation</a></li>
    </ul>
  </li>
  <li><a href="howtoread.html">How To Read</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li><a href="terminology.html">Terminology</a></li>
  <li><a href="changes.html">Change Log</a></li>
</ul>
