<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Information<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="background.html">Background</a></li>
      <li><a href="designconsiderations.html">Design Considerations</a></li>
      <li><a href="using.html">Using this Implementation Guide</a></li>
      <li><a href="references.html">References</a></li>
      <li><a href="appendix.html">Appendix</a></li>
      <li><a href="validation.html">Validation</a></li>    </ul>
  </li>
  <li><a href="howtoread.html">How To Read</a></li>

  <li><a href="downloads.html">Downloads</a></li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Additional Guidance<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="introduction.html">Introduction</a></li>
      <li><a href="understanding_c-cda_and_the_c-cda_companion_guide.html">Understanding C-CDA and the C-CDA Companion Guide</a></li>
      <li><a href="document_level_guidance.html">Document Level Guidance</a></li>
      <li><a href="section_level_guidance.html">Section Level Guidance</a></li>
      <li><a href="representation_of_discrete_data.html">Representation of Discrete Data</a></li>
      <li><a href="uscdi_guidance.html">USCDI Guidance</a></li>
      <li><a href="resources.html">Resources</a></li>    </ul>
   </li>
   <li><a href="artifacts.html">Artifact Index</a></li>
   <li><a href="changes.html">Change Log</a></li>
</ul>
