#segment-footer > .container {
  background-color: #2E8B57;
}
.navbar-inverse {
  background-color: #2E8B57;
}
#hl7-nav {
  line-height: 50px;
  float: left;
  margin-top: 16px;
  color: #808080;
}
#hl7-nav a {
  color: inherit;
}
#hl7-logo {
  float: left;
  margin-left: 6px;
  margin-bottom: 8px;
}
#hl7-search {
  line-height: 50px;
  float: right;
  margin-top: 16px;
  color: maroon;
}
#hl7-search a {
  color: inherit;
}
#fhir-nav {
  line-height: 50px;
  float: right;
  margin-top: 16px;
  color: #808080;
}
#fhir-logo {
  float: right;
  margin-left: 6px;
}
